/*-- scss:defaults --*/

// $body-bg: #191919;
// $body-color: #fff;
// $link-color: #42affa;

$presentation-font-size-root: 35px; // normally 40px
// $presentation-h3-font-size: 0.5em; //normally 1.3em
// $presentation-font-smaller: 0.5;

$presentation-h3-font-size: 0.5em; //normally 1.3em

$presentation-h1-font-size: 90px;

$body-bg: #fff;
$body-color: #414042;
$link-color: #C4161C;
$code-color: #27A5A2;
$code-block-border-color: #009491;

$presentation-heading-color: #C4161C;
$presentation-font-size-root: 30px;

$font-family-sans-serif: 'Lato', sans-serif;

$presentation-slide-text-align: left;

/*-- scss:rules --*/

// .title {
//     $presentation-h1-font-size: 80px;
// }

.institute{
    font-size: 70%;
}

.date{
    font-size: 70%;
}

.small-bullet{
    font-size: 60%;
}

.styled-side{
    font-size: 130%;
    margin-top: 3em;
}

.styled-side-high{
    margin-top: 1em;
}

// .flex-columns{
//     display: flex;
//     justify-content: space-around;
// }

.right-col-space{
    margin-left: 4em;
}

.center{
    font-size: 130%;
    margin: auto;
    width: 80%;
    margin-top: 1em;
    line-height: 170%;
    ul{
        list-style-type: none;
        text-align: center;
    }
}

.center-div{
    margin: auto;
    width: 80%;
}

// .footer{
//     font-size: 40%;
// }

// .reveal .slide blockquote {
//   border-left: 3px solid $text-muted;
//   padding-left: 0.5em;
// }


@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;0,900;1,300;1,400&display=swap');